<!DOCTYPE html>
<!--tells the browser which version of the html you are using.-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet" href="contri.css" />
    <title>Comp.endium</title>
   </head>
   <body>
    
    <div class="signInorLogIn" id="suOli">
       <div class="SignUpbox" id="suBox">
        <svg class="close" onclick="clos(0)" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"/></svg>
        <div class="JoinOrWelcome"> Start Your Journey</div>
          <button class="signUpOrLogInButton">
            <svg width="25" height="25" class="co">
              <g fill="none" fill-rule="evenodd">
                <path d="M20.61 12.7c0-.61-.05-1.19-.15-1.74H12.5v3.28h4.58a3.91 3.91 0 0 1-1.7 2.57v2.13h2.74a8.27 8.27 0 0 0 2.54-6.24z" fill="#4285F4"></path>
                <path d="M12.5 21a8.1 8.1 0 0 0 5.63-2.06l-2.75-2.13a5.1 5.1 0 0 1-2.88.8 5.06 5.06 0 0 1-4.76-3.5H4.9v2.2A8.5 8.5 0 0 0 12.5 21z" fill="#34A853"></path>
                <path d="M7.74 14.12a5.11 5.11 0 0 1 0-3.23v-2.2H4.9A8.49 8.49 0 0 0 4 12.5c0 1.37.33 2.67.9 3.82l2.84-2.2z" fill="#FBBC05"></path>
                <path d="M12.5 7.38a4.6 4.6 0 0 1 3.25 1.27l2.44-2.44A8.17 8.17 0 0 0 12.5 4a8.5 8.5 0 0 0-7.6 4.68l2.84 2.2a5.06 5.06 0 0 1 4.76-3.5z" fill="#EA4335"></path>
              </g>
            </svg>
          Sign Up with Google
          </button>
          <button class="signUpOrLogInButton"><svg width="25" height="25" fill="#3B5998" class="co"><path d="M20.3 4H4.7a.7.7 0 0 0-.7.7v15.6c0 .38.32.7.7.7h8.33v-6.38h-2.12v-2.65h2.12V9.84c0-2.2 1.4-3.27 3.35-3.27.94 0 1.75.07 1.98.1v2.3H17c-1.06 0-1.31.5-1.31 1.24v1.76h2.65l-.53 2.65H15.7l.04 6.38h4.56a.7.7 0 0 0 .71-.7V4.7a.7.7 0 0 0-.7-.7" fill-rule="evenodd"></path></svg>
            Sign Up with Facebook</button>
          <button class="signUpOrLogInButton"><svg width="25" height="25" class="co"><path d="M4 6v13h17V6H4zm5.9 7.97l2.6 2.12 2.6-2.12 4.14 4.02H5.76l4.15-4.02zm-4.88 3.32V9.97l4.1 3.35-4.1 3.97zm10.87-3.97l4.1-3.35v7.32l-4.1-3.97zm4.1-6.3v1.64l-7.49 6.12-7.48-6.13V7.01h14.96z"></path></svg>
            Sign Up with email</button> 
          <div class="aldreadyHaveAnAccount">Aldready Have An Account?<a class="LogIn" onclick="logIn()" > Log In</a></div>
       </div>
       <div class="LogInbox" id="liBox">
        <svg class="close" onclick="clos(1)" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"/></svg>
        <div class="JoinOrWelcome"> Welcome Back</div>
        <button class="signUpOrLogInButton"><svg width="25" height="25" class="co">
          <g fill="none" fill-rule="evenodd">
            <path d="M20.66 12.7c0-.61-.05-1.19-.15-1.74H12.5v3.28h4.58a3.91 3.91 0 0 1-1.7 2.57v2.13h2.74a8.27 8.27 0 0 0 2.54-6.24z" fill="#4285F4"></path>
            <path d="M12.5 21a8.1 8.1 0 0 0 5.63-2.06l-2.75-2.13a5.1 5.1 0 0 1-2.88.8 5.06 5.06 0 0 1-4.76-3.5H4.9v2.2A8.5 8.5 0 0 0 12.5 21z" fill="#34A853"></path>
            <path d="M7.74 14.12a5.11 5.11 0 0 1 0-3.23v-2.2H4.9A8.49 8.49 0 0 0 4 12.5c0 1.37.33 2.67.9 3.82l2.84-2.2z" fill="#FBBC05"></path>
            <path d="M12.5 7.38a4.6 4.6 0 0 1 3.25 1.27l2.44-2.44A8.17 8.17 0 0 0 12.5 4a8.5 8.5 0 0 0-7.6 4.68l2.84 2.2a5.06 5.06 0 0 1 4.76-3.5z" fill="#EA4335"></path>
          </g>
          </svg>
          Sign in with Google</button>
        <button class="signUpOrLogInButton"><svg width="25" height="25" fill="#3B5998" class="co"><path d="M20.3 4H4.7a.7.7 0 0 0-.7.7v15.6c0 .38.32.7.7.7h8.33v-6.38h-2.12v-2.65h2.12V9.84c0-2.2 1.4-3.27 3.35-3.27.94 0 1.75.07 1.98.1v2.3H17c-1.06 0-1.31.5-1.31 1.24v1.76h2.65l-.53 2.65H15.7l.04 6.38h4.56a.7.7 0 0 0 .71-.7V4.7a.7.7 0 0 0-.7-.7" fill-rule="evenodd"></path></svg>
          Sign in with Facebook</button>
        <button class="signUpOrLogInButton"><svg width="25" height="25" class="co"><path d="M4 6v13h17V6H4zm5.9 7.97l2.6 2.12 2.6-2.12 4.14 4.02H5.76l4.15-4.02zm-4.88 3.32V9.97l4.1 3.35-4.1 3.97zm10.87-3.97l4.1-3.35v7.32l-4.1-3.97zm4.1-6.3v1.64l-7.49 6.12-7.48-6.13V7.01h14.96z"></path></svg>
          Sign in with email</button> 
          <div class="aldreadyHaveAnAccount">No Account?<a  class="LogIn" onclick="signUp()"> Create one</a></div>
       </div>
    
    
    
      </div>
    
    
    <header id="headr">
      <div id="navbar" class="nav">
        <a href="" >
        <div class="logo_container">
          <img class="logo" src="./images/road-signs-svgrepo-com.svg" alt=""/>
          <div class="Comp_endium">Comp.endium</div>
        </div>
        </a>
        <div class="navButtons">
          <!---- <div class="mainNav">-->
            <a href="/user"><li>Home</li></a>
            <a href="/ide" target="_blank"><li class="rm">Playground</li></a>

            <a href="/contribute"><li class="rm">Contribute</li></a>
            <!-- <a href=""><li class="rm" id="aboutUs">Donate</li></a> -->

            <button id="loggedInUser" class="SignIn" >
              <a  class="signInAnchor"><%=userLoggedIn%></a>
            </button>
          <!-- </div> -->
        </div>
      </div>
      
      

    </header>
    <div class="FullStackRM">
      <div class="FSTitle">How Can I Contribute?</div>
      <div class="FSSubTitle">
        Join us in this good cause of sharing and gaining knowledge. Your small contribution matters and will help complete beginners in full stack development.

      </div>
      </div>
       <div class="dummy">
       
           <div class="accContainer">
           <div class="headin"> <h2>Topics that you can provide resources for</h2></div>
            <div class="accordionTop">
             <h2>Topics Which Are To Be Covered:</h2>
             <div class="expContr" onclick="d(0,[0,1,2,3,4,5,6,7,8,9,10])">
          <svg
            class="expand"
            xmlns="http://www.w3.org/2000/svg"
            height="48"
            width="48"
          >
          <path d="M14.15 30.75 12 28.6l12-12 12 11.95-2.15 2.15L24 20.85Z" />
          </svg>
          <svg   class="retract"  xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m24 30.45 8.65-8.65-2.15-2.1-6.5 6.5-6.5-6.5-2.15 2.1ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/>
          </svg>
        </div>
        </div>
        <div class="accDesc">
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Graph QL&body=My suggestion:" target="_blank">
              Graph QL
            </a>
          </div>
          
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Ruby on Rails&body=My suggestion:" target="_blank">
              Ruby on Rails
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Flask&body=My suggestion:" target="_blank">
              Flask
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Django&body=My suggestion:" target="_blank">
              Django
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Spring Boot&body=My suggestion:" target="_blank">
              Spring Boot
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Rust&body=My suggestion:" target="_blank" >
              Rust
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Go&body=My suggestion:" target="_blank">
              Go
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Redis&body=My suggestion:" target="_blank">
              Redis 
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Selenium&body=My suggestion:" target="_blank">
             Selenium
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Docker&body=My suggestion:" target="_blank">
            Docker
            </a>
          </div>
          </div>
          <div class="subAccordtion">
            <div class="links"> 
            <a href="mailto:adithyavemuri78@gmail.com,izhaan9802@gmail.com?subject=Firebase&body=My suggestion:" target="_blank">
              Firebase
            </a>
          </div>
          </div>
          </div>
       
        
          
          
          
          </div>
                 
       
       
       
        </div>
     
       
        
      </div><!--dummy-->
      
      <footer>
        <div class="footerContent">

        <div class="footerInfo">
          <a href="" >
            <div class="logo_container2">
              <img class="logo2" src="./images/road-signs-svgrepo-com.svg" alt="" />
              <div class="Comp_endium2">Comp.endium</div>
            </div>
            </a>
            <div class="infoText">
              by 
              <button class="SignIn">
                <a href="" class="signInAnchor">HaVoK9802</a>
              </button>
              <button class="SignIn">
                <a href="" class="signInAnchor">vemurifai</a>
              </button>
            </div>
        </div>
        <div class="footerText">
          Structured resources and a playground to help you get started in your Full Stack Development journey.
        </div>
        <div class="navButtons3">
          <!---- <div class="mainNav">-->
          <a href=""><li class="f">FAQs</li></a>

          <a href=""><li class="f">Terms</li></a>
        
          <a href=""><li class="f">Privacy</li></a>
         
          <!-- <a href=""><li class="f">Donate</li></a> -->
          <!-- </div> -->
        </div>
      </div>
      </footer>


    <script src="contri.js"></script>
  </body>


</html>
