<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="logIn.css" />
  </head>
  <body>
    <form class="loginBox" action="/logIn" method="POST">
      <!-- action specifies where the request(possibly to accept and access the form data) is to be sent -->
      <h1>Comp.endium</h1>
      <div class="loginHeading">Log In</div>
      <input type="text" name="username" placeholder="Enter username" />
      <input type="password" name="password" placeholder="Enter password" />
      <input id="submit" type="submit" />
    </form>
  </body>
</html>
